body {
  background-color: #fff5cb;
}

.home-img {
  border-radius: 10%;
  border: 2px solid black;
  padding: 0px;
}
.button {
  background-color: #e2edf1;
  color: rgb(97, 96, 96);
  border-radius: 20px;
  padding: 9px 30px;
  border: 1.9px solid rgb(97, 96, 96);
}

.home-title {
  /* font-family: monospace; */
}
